<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="KeyDeamnd Suite">
    <listeners>
		<listener
			class-name="utilities.ExtentReportManager" />
	</listeners>
   
	<test name="Keydemand Tests">
	<!--<parameter name="browser" value="chrome"/>-->
		
		<classes>
			 
				              <class name="testCases.TC_EnterpriseEnquiry_001"/>
				               <class name="testCases.TC_LoginDDT_01"/>
				              <class name="testCases.TC_Login_Test"/>
				              <class name="testCases.TC_AddAdmin_Test"/>
				              <class name="testCases.TC_EditAdmin_Test"/>
				              <class name="testCases.TC_AddminSearchBox_Test"/>
				              <class name="testCases.TC_BrandPage_Test"/>
				              <class name="testCases.TC_Buyersearch_Test"/>
				              <class name="testCases.TC_AddSeller_Test"/>
				              <class name="testCases.TC_SellerSearch_Test"/>
				   			  <class name="testCases.TC_Settings_Test"/>
				 			  <class name="testCases.TC_Notifications_001"/>
				
        </classes>
	</test>
	

</suite>